.react-datepicker-wrapper {
  width: 100%;
}
.react-datepicker-ignore-onclickoutside {
  width: 100% !important;
}

.react-datepicker__input-container input {
  width: 100%;
}

.react-datepicker {
  background-color: var(--tg-theme-second-bg-color, #fbfbfb) !important;
}
.react-datepicker__header {
  background-color: var(--tg-theme-second-bg-color, #fbfbfb) !important;
}
.react-datepicker__time {
  background-color: var(--tg-theme-second-bg-color, #fbfbfb) !important;
}
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.hint {
  color: var(--tg-theme-hint-color, gray);
}
